workflow_3_telegram_delivery.json
{
  "name": "Telegram Delivery & Notification",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "operation": "search",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "triggerField": "Status",
        "options": {
          "filterByFormula": "{Status}='Video_Ready'"
        }
      },
      "id": "airtable-trigger",
      "name": "🔔 Airtable: Video Ready Trigger",
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "credentials": {
        "airtableTokenApi": {
          "id": "mmrJiYmHvNKROxEr",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "returnAll": false,
        "limit": 1,
        "options": {
          "filterByFormula": "=AND({Status}='Video_Ready', RECORD_ID()='{{ $json.id }}')"
        }
      },
      "id": "fetch-full-record",
      "name": "📋 Fetch Full Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [440, 400],
      "credentials": {
        "airtableTokenApi": {
          "id": "mmrJiYmHvNKROxEr",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const record = $input.first().json;\n\nconst caption = record.Caption_UZ || '';\nconst hashtags = record.Hashtags || '';\nconst topic = record.Topic_UZ || 'Kontent';\nconst date = record.Date || new Date().toISOString().split('T')[0];\nconst style = record.Visual_Style || '';\nconst dayNum = record.Day_Number || '?';\n\nconst telegramMessage = `🎬 *YANGI KONTENT TAYYOR!*\n\n📅 Sana: ${date}\n📋 Kun: ${dayNum}\n🎨 Uslub: ${style}\n📝 Mavzu: ${topic}\n\n━━━━━━━━━━━━━━━\n\n*📱 Instagram Caption:*\n\n${caption}\n\n${hashtags}\n\n━━━━━━━━━━━━━━━\n\n✅ Video va rasm tayyor — Instagram'ga post qiling!`;\n\nreturn [{\n  json: {\n    record_id: record.id,\n    telegram_message: telegramMessage,\n    caption: caption,\n    hashtags: hashtags,\n    topic: topic,\n    video_url: record.Video_URL || '',\n    image_url: record.Image_URL || ''\n  }\n}];"
      },
      "id": "format-telegram",
      "name": "✍️ Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-video",
              "leftValue": "={{ $json.video_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-video-url",
      "name": "🎥 Has Video URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('✍️ Format Telegram Message').item.json.video_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "download-video",
      "name": "⬇️ Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "8266195913",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ $('✍️ Format Telegram Message').item.json.telegram_message }}",
          "parse_mode": "Markdown"
        }
      },
      "id": "send-video",
      "name": "📱 Send Video to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 300],
      "credentials": {
        "telegramApi": {
          "id": "jOU7JKhtcHMviF47",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "8266195913",
        "text": "={{ $('✍️ Format Telegram Message').item.json.telegram_message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-text-only",
      "name": "📱 Send Text to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 520],
      "credentials": {
        "telegramApi": {
          "id": "jOU7JKhtcHMviF47",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-image",
              "leftValue": "={{ $('✍️ Format Telegram Message').item.json.image_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-image-url",
      "name": "🖼️ Has Image URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('✍️ Format Telegram Message').item.json.image_url }}",
        "options": {
          "response": {
            "response": { "responseFormat": "file" }
          },
          "timeout": 60000
        }
      },
      "id": "download-image",
      "name": "⬇️ Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "8266195913",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "=🖼️ Rasm — {{ $('✍️ Format Telegram Message').item.json.topic }}"
        }
      },
      "id": "send-image",
      "name": "📱 Send Image to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1980, 200],
      "credentials": {
        "telegramApi": {
          "id": "jOU7JKhtcHMviF47",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "id": "={{ $('✍️ Format Telegram Message').item.json.record_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Delivered"
          }
        },
        "options": {}
      },
      "id": "mark-delivered",
      "name": "✅ Mark Delivered",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [2200, 400],
      "credentials": {
        "airtableTokenApi": {
          "id": "mmrJiYmHvNKROxEr",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "8266195913",
        "text": "=✅ *Kontent muvaffaqiyatli yetkazildi!*\n\n📝 {{ $('✍️ Format Telegram Message').item.json.topic }}\n📅 {{ new Date().toISOString().split('T')[0] }}\n🏷️ Status: Delivered",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "confirm-delivery",
      "name": "📱 Confirm Delivery",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2420, 400],
      "credentials": {
        "telegramApi": {
          "id": "jOU7JKhtcHMviF47",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "8266195913",
        "text": "=⚠️ *Delivery XATOLIK*\n\n❌ Kontent yetkazishda xatolik yuz berdi\n📝 Record: {{ $('✍️ Format Telegram Message').item.json.record_id }}\n\nn8n dashboardni tekshiring.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "error-delivery",
      "name": "⚠️ Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 600],
      "credentials": {
        "telegramApi": {
          "id": "jOU7JKhtcHMviF47",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "🔔 Airtable: Video Ready Trigger": {
      "main": [[{ "node": "📋 Fetch Full Record", "type": "main", "index": 0 }]]
    },
    "📋 Fetch Full Record": {
      "main": [[{ "node": "✍️ Format Telegram Message", "type": "main", "index": 0 }]]
    },
    "✍️ Format Telegram Message": {
      "main": [[{ "node": "🎥 Has Video URL?", "type": "main", "index": 0 }]]
    },
    "🎥 Has Video URL?": {
      "main": [
        [{ "node": "⬇️ Download Video", "type": "main", "index": 0 }],
        [{ "node": "📱 Send Text to Telegram", "type": "main", "index": 0 }]
      ]
    },
    "⬇️ Download Video": {
      "main": [[{ "node": "📱 Send Video to Telegram", "type": "main", "index": 0 }]]
    },
    "📱 Send Video to Telegram": {
      "main": [[{ "node": "🖼️ Has Image URL?", "type": "main", "index": 0 }]]
    },
    "🖼️ Has Image URL?": {
      "main": [
        [{ "node": "⬇️ Download Image", "type": "main", "index": 0 }],
        [{ "node": "✅ Mark Delivered", "type": "main", "index": 0 }]
      ]
    },
    "⬇️ Download Image": {
      "main": [[{ "node": "📱 Send Image to Telegram", "type": "main", "index": 0 }]]
    },
    "📱 Send Image to Telegram": {
      "main": [[{ "node": "✅ Mark Delivered", "type": "main", "index": 0 }]]
    },
    "📱 Send Text to Telegram": {
      "main": [[{ "node": "✅ Mark Delivered", "type": "main", "index": 0 }]]
    },
    "✅ Mark Delivered": {
      "main": [[{ "node": "📱 Confirm Delivery", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "content-factory" },
    { "name": "telegram" },
    { "name": "delivery" }
  ],
  "pinData": {}
}
