workflow_4_telegram_commander.json
{
  "name": "Telegram Commander — Smart Content Factory",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"]
      },
      "id": "tg-trigger",
      "name": "📱 Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 400],
      "credentials": {
        "telegramApi": {
          "id": "jOU7JKhtcHMviF47",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const update = $input.first().json;\nlet cmd = 'help', arg = '', chatId = '8266195913', cbId = '';\n\nif (update.message) {\n  chatId = String(update.message.chat.id);\n  const t = (update.message.text || '').trim();\n  if (t.startsWith('/plan')) cmd = 'plan';\n  else if (t.startsWith('/rasm')) { cmd = 'rasm'; arg = t.split(/\\s+/)[1] || '1'; }\n  else if (t.startsWith('/video')) { cmd = 'video'; arg = t.split(/\\s+/)[1] || '1'; }\n  else if (t.startsWith('/bugun')) cmd = 'bugun';\n  else if (t.startsWith('/stats')) cmd = 'stats';\n  else if (t.startsWith('/start') || t.startsWith('/help')) cmd = 'help';\n  else cmd = 'help';\n} else if (update.callback_query) {\n  chatId = String(update.callback_query.message.chat.id);\n  cbId = update.callback_query.id;\n  const d = update.callback_query.data || '';\n  if (d.startsWith('gen_image_')) { cmd = 'do_image'; arg = d.replace('gen_image_',''); }\n  else if (d.startsWith('gen_video_')) { cmd = 'do_video'; arg = d.replace('gen_video_',''); }\n  else if (d === 'cancel') cmd = 'cancel';\n}\nreturn [{ json: { cmd, arg, chatId, cbId } }];"
      },
      "id": "parse-cmd",
      "name": "🧠 Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"help","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"help"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"bugun","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"bugun"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"stats","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"stats"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"rasm","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"rasm"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"video","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"video"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"do_image","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"do_image"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"do_video","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"do_video"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"cancel","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"cancel"},
            {"conditions":{"conditions":[{"leftValue":"={{ $json.cmd }}","rightValue":"plan","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"plan"}
          ]
        },
        "options": {"fallbackOutput": "extra"}
      },
      "id": "router",
      "name": "🔀 Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [640, 400]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('🧠 Parse Command').item.json.chatId }}",
        "text": "🏭 *SMART CONTENT FACTORY*\n\n📋 Buyruqlar:\n\n/bugun — Bugungi kontent rejasi\n/plan — Haftalik reja tuzish (AI)\n/rasm 3 — 3-kun uchun rasm yaratish\n/video 3 — 3-kun uchun video yaratish\n/stats — Statistika\n/help — Yordam\n\n🎯 Maqsad: Ohvat, obunachi va savdoni oshirish uchun strategik kontent!",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-help",
      "name": "📖 Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 100],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "search",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "returnAll": false,
        "limit": 10,
        "options": {"filterByFormula": "=IS_SAME({Date}, TODAY(), 'day')"}
      },
      "id": "get-today",
      "name": "📋 Get Today",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 250],
      "credentials": {"airtableTokenApi": {"id": "mmrJiYmHvNKROxEr", "name": "Airtable Personal Access Token"}}
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = $('🧠 Parse Command').first().json.chatId;\nif (!items.length || !items[0].json.id) {\n  return [{ json: { chatId, text: '📋 Bugun uchun kontent rejasi yo\\'q.\\n\\n/plan buyrug\\'i bilan yangi reja tuzing!' } }];\n}\nconst lines = items.map(i => {\n  const d = i.json;\n  const status = d.Status === 'Pending' ? '⏳' : d.Status === 'Processing' ? '🔄' : d.Status === 'Video_Ready' ? '✅' : d.Status === 'Delivered' ? '📱' : '📋';\n  return `${status} *${d.Slot || ''}*: ${d.Topic_UZ || d.Topic_EN || 'Mavzu'}\\nUslub: ${d.Visual_Style || '-'} | ${d.Content_Type || '-'}`;\n}).join('\\n\\n');\nreturn [{ json: { chatId, text: `📅 *BUGUNGI KONTENT REJA*\\n\\n${lines}\\n\\n💡 /rasm N yoki /video N bilan yarating!` } }];"
      },
      "id": "fmt-today",
      "name": "✏️ Format Today",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 250]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-today",
      "name": "📱 Send Today",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 250],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "search",
        "application": "appfv9xstsRzEOjTu",
        "table": "Analytics_Log",
        "returnAll": true,
        "options": {"sort": {"property": [{"field": "Date", "direction": "desc"}]}}
      },
      "id": "get-stats",
      "name": "📊 Get Stats",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 400],
      "credentials": {"airtableTokenApi": {"id": "mmrJiYmHvNKROxEr", "name": "Airtable Personal Access Token"}}
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = $('🧠 Parse Command').first().json.chatId;\nif (!items.length || !items[0].json.Post_Topic) {\n  return [{ json: { chatId, text: '📊 Hozircha statistika yo\\'q.' } }];\n}\nconst totalViews = items.reduce((s,i) => s + (i.json.Views||0), 0);\nconst totalLikes = items.reduce((s,i) => s + (i.json.Likes||0), 0);\nconst totalShares = items.reduce((s,i) => s + (i.json.Shares||0), 0);\nconst totalSaves = items.reduce((s,i) => s + (i.json.Saves||0), 0);\nconst top = items.filter(i=>i.json.Top_Performing).slice(0,3).map(i=>`  🏆 ${i.json.Post_Topic}: ${i.json.Views} ko'rish`).join('\\n');\nreturn [{ json: { chatId, text: `📊 *STATISTIKA*\\n\\n📈 Jami postlar: ${items.length}\\n👁 Ko'rishlar: ${totalViews.toLocaleString()}\\n❤️ Layklar: ${totalLikes.toLocaleString()}\\n🔄 Ulashishlar: ${totalShares.toLocaleString()}\\n💾 Saqlanganlar: ${totalSaves.toLocaleString()}\\n\\n🏆 *Top postlar:*\\n${top||'Ma\\'lumot yo\\'q'}` } }];"
      },
      "id": "fmt-stats",
      "name": "✏️ Format Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-stats",
      "name": "📱 Send Stats",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 400],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "search",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "returnAll": false,
        "limit": 1,
        "options": {"filterByFormula": "=AND({Day_Number}={{ $('🧠 Parse Command').item.json.arg }}, {Status}='Pending')","sort":{"property":[{"field":"Date","direction":"desc"}]}}
      },
      "id": "get-rasm-record",
      "name": "📋 Get Rasm Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 550],
      "credentials": {"airtableTokenApi": {"id": "mmrJiYmHvNKROxEr", "name": "Airtable Personal Access Token"}}
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = $('🧠 Parse Command').first().json.chatId;\nconst arg = $('🧠 Parse Command').first().json.arg;\nif (!items.length || !items[0].json.id) {\n  return [{ json: { chatId, text: `❌ ${arg}-kun uchun Pending statusdagi topshiriq topilmadi.\\n\\nAvval /plan bilan reja tuzing!`, noRecord: true } }];\n}\nconst r = items[0].json;\nreturn [{ json: { chatId, recordId: r.id, topic: r.Topic_UZ||r.Topic_EN||'Mavzu', style: r.Visual_Style||'', prompt: r.Image_Prompt||'', dayNum: r.Day_Number||arg, noRecord: false } }];"
      },
      "id": "check-rasm",
      "name": "✅ Check Rasm",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 550]
    },
    {
      "parameters": {
        "conditions": {"conditions": [{"leftValue": "={{ $json.noRecord }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true"}}], "combinator": "and"},
        "options": {}
      },
      "id": "if-no-rasm",
      "name": "❓ No Record?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 550]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-no-rasm",
      "name": "❌ No Record Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 480],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "=🎨 *RASM YARATILSINMI?*\n\n📋 Mavzu: {{ $json.topic }}\n🎨 Uslub: {{ $json.style }}\n📅 Kun: {{ $json.dayNum }}\n\n💰 *1 kredit sarflanadi*\n\nTasdiqlaysizmi?",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": {
            "inlineKeyboard": [
              [
                {"text": "✅ Ha, yarat!", "callbackData": "=gen_image_{{ $json.recordId }}"},
                {"text": "❌ Bekor", "callbackData": "cancel"}
              ]
            ]
          }
        }
      },
      "id": "confirm-rasm",
      "name": "❓ Confirm Rasm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 620],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "search",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "returnAll": false,
        "limit": 1,
        "options": {"filterByFormula": "=AND({Day_Number}={{ $('🧠 Parse Command').item.json.arg }}, {Status}='Pending')","sort":{"property":[{"field":"Date","direction":"desc"}]}}
      },
      "id": "get-video-record",
      "name": "📋 Get Video Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 750],
      "credentials": {"airtableTokenApi": {"id": "mmrJiYmHvNKROxEr", "name": "Airtable Personal Access Token"}}
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst chatId = $('🧠 Parse Command').first().json.chatId;\nconst arg = $('🧠 Parse Command').first().json.arg;\nif (!items.length || !items[0].json.id) {\n  return [{ json: { chatId, text: `❌ ${arg}-kun uchun Pending statusdagi topshiriq topilmadi.`, noRecord: true } }];\n}\nconst r = items[0].json;\nreturn [{ json: { chatId, recordId: r.id, topic: r.Topic_UZ||r.Topic_EN||'Mavzu', style: r.Visual_Style||'', prompt: r.Video_Prompt||'', dayNum: r.Day_Number||arg, noRecord: false } }];"
      },
      "id": "check-video",
      "name": "✅ Check Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 750]
    },
    {
      "parameters": {
        "conditions": {"conditions": [{"leftValue": "={{ $json.noRecord }}", "rightValue": true, "operator": {"type":"boolean","operation":"true"}}], "combinator": "and"},
        "options": {}
      },
      "id": "if-no-video",
      "name": "❓ No Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 750]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-no-video",
      "name": "❌ No Video Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 680],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "=🎬 *VIDEO YARATILSINMI?*\n\n📋 Mavzu: {{ $json.topic }}\n🎨 Uslub: {{ $json.style }}\n📅 Kun: {{ $json.dayNum }}\n\n💰 *1 kredit sarflanadi*\n\nTasdiqlaysizmi?",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": {
            "inlineKeyboard": [
              [
                {"text": "✅ Ha, yarat!", "callbackData": "=gen_video_{{ $json.recordId }}"},
                {"text": "❌ Bekor", "callbackData": "cancel"}
              ]
            ]
          }
        }
      },
      "id": "confirm-video",
      "name": "❓ Confirm Video",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 820],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "update",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "id": "={{ $('🧠 Parse Command').item.json.arg }}",
        "columns": {"mappingMode": "defineBelow", "value": {"Status": "Processing"}},
        "options": {}
      },
      "id": "mark-processing-img",
      "name": "🔄 Mark Processing (Img)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 950],
      "credentials": {"airtableTokenApi": {"id": "mmrJiYmHvNKROxEr", "name": "Airtable Personal Access Token"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('🧠 Parse Command').item.json.chatId }}",
        "text": "🎨 *Rasm yaratish boshlandi!*\n\n⏳ Imagen 3 ishlayapti...\nTayyor bo'lganda xabar beraman!",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "notify-img-start",
      "name": "📱 Img Started",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 950],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "update",
        "application": "appfv9xstsRzEOjTu",
        "table": "Content_Plan",
        "id": "={{ $('🧠 Parse Command').item.json.arg }}",
        "columns": {"mappingMode": "defineBelow", "value": {"Status": "Processing"}},
        "options": {}
      },
      "id": "mark-processing-vid",
      "name": "🔄 Mark Processing (Vid)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [900, 1100],
      "credentials": {"airtableTokenApi": {"id": "mmrJiYmHvNKROxEr", "name": "Airtable Personal Access Token"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('🧠 Parse Command').item.json.chatId }}",
        "text": "🎬 *Video yaratish boshlandi!*\n\n⏳ Veo 3.1 ishlayapti...\n⏱ Bu 2-5 daqiqa vaqt olishi mumkin.\nTayyor bo'lganda xabar beraman!",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "notify-vid-start",
      "name": "📱 Vid Started",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 1100],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('🧠 Parse Command').item.json.chatId }}",
        "text": "❌ *Bekor qilindi*",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-cancel",
      "name": "❌ Cancelled",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 1250],
      "credentials": {"telegramApi": {"id": "jOU7JKhtcHMviF47", "name": "Telegram Bot"}}
    }
  ],
  "connections": {
    "📱 Telegram Trigger": {
      "main": [[{"node": "🧠 Parse Command", "type": "main", "index": 0}]]
    },
    "🧠 Parse Command": {
      "main": [[{"node": "🔀 Router", "type": "main", "index": 0}]]
    },
    "🔀 Router": {
      "main": [
        [{"node": "📖 Help", "type": "main", "index": 0}],
        [{"node": "📋 Get Today", "type": "main", "index": 0}],
        [{"node": "📊 Get Stats", "type": "main", "index": 0}],
        [{"node": "📋 Get Rasm Record", "type": "main", "index": 0}],
        [{"node": "📋 Get Video Record", "type": "main", "index": 0}],
        [{"node": "🔄 Mark Processing (Img)", "type": "main", "index": 0}],
        [{"node": "🔄 Mark Processing (Vid)", "type": "main", "index": 0}],
        [{"node": "❌ Cancelled", "type": "main", "index": 0}],
        [{"node": "📖 Help", "type": "main", "index": 0}]
      ]
    },
    "📋 Get Today": {
      "main": [[{"node": "✏️ Format Today", "type": "main", "index": 0}]]
    },
    "✏️ Format Today": {
      "main": [[{"node": "📱 Send Today", "type": "main", "index": 0}]]
    },
    "📊 Get Stats": {
      "main": [[{"node": "✏️ Format Stats", "type": "main", "index": 0}]]
    },
    "✏️ Format Stats": {
      "main": [[{"node": "📱 Send Stats", "type": "main", "index": 0}]]
    },
    "📋 Get Rasm Record": {
      "main": [[{"node": "✅ Check Rasm", "type": "main", "index": 0}]]
    },
    "✅ Check Rasm": {
      "main": [[{"node": "❓ No Record?", "type": "main", "index": 0}]]
    },
    "❓ No Record?": {
      "main": [
        [{"node": "❌ No Record Msg", "type": "main", "index": 0}],
        [{"node": "❓ Confirm Rasm", "type": "main", "index": 0}]
      ]
    },
    "📋 Get Video Record": {
      "main": [[{"node": "✅ Check Video", "type": "main", "index": 0}]]
    },
    "✅ Check Video": {
      "main": [[{"node": "❓ No Video?", "type": "main", "index": 0}]]
    },
    "❓ No Video?": {
      "main": [
        [{"node": "❌ No Video Msg", "type": "main", "index": 0}],
        [{"node": "❓ Confirm Video", "type": "main", "index": 0}]
      ]
    },
    "🔄 Mark Processing (Img)": {
      "main": [[{"node": "📱 Img Started", "type": "main", "index": 0}]]
    },
    "🔄 Mark Processing (Vid)": {
      "main": [[{"node": "📱 Vid Started", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {"name": "content-factory"},
    {"name": "telegram"},
    {"name": "commander"}
  ],
  "pinData": {}
}
